<mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu">{{companyName}}</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let company of companies"
            [attr.data-id]="company.id"
            [attr.data-name]="company.name"
            (click)="onCompanySelect($event)">{{company.name}}
        </button>
    </mat-menu>
    <span class="spacer"></span>
	<span flex></span>
	<div style="font-size: 15px">
        Average Salary: $ {{companyAvgSalary}}
	</div>
</mat-toolbar>